* {
    --navi-yellow: #FFF226;
    --navi-grey: #24262C;
    --navi-white: rgba(255, 255, 255, .5);
    box-sizing: border-box;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.main {
    padding: .5rem;
}

p {
    color: var(--navi-white);
}

.player__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player__container__info {
    display: grid;
    grid-template-columns: 1fr;
    width: 60%;
}

.player__info__name h1 {
    color: var(--navi-yellow);
    font-size: 5rem;
}

.player__info__name p {
    font-size: 2rem;
    color: var(--navi-white);
}

.player__info__data__1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
}

.player__info__data__desc p {
    font-weight: lighter;
}

.player__info__data__1 span {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.player__info__socials {
    margin-top: 1rem;
    max-width: 40%;
    max-height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.player__info__socials i {
    font-size: 2rem;
    color: #fff;
}

.player__info__socials .fa-facebook-f:hover {
    color: #1877f2;
}

.player__info__socials .fa-instagram:hover {
    color: #405de6;
}

.player__info__socials .fa-twitter:hover {
    color: #1da1f2;
}

.player__info__socials .fa-twitch:hover {
    color: #9146ff;
}

.player__info__socials .fa-steam:hover {
    color: #000000;
}

.nav ul {
    grid-template-columns: none;
}


/* Media queries */

@media (max-width: 769px) {
    body {
        background: #000;
    }
    .player__container {
        flex-direction: column-reverse;
    }
    .player__container_img {
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        max-width: 50%;
    }
    /* .player__container_img img {
        width: 100%;
    } */
    .player__container__info {
        width: 100%;
    }
    .player__info__socials {
        max-width: 100%;
    }
}

@media (max-width: 360px) {
    .player__info__data__1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .player__info__name h1 {
        font-size: 22vw;
    }
}